{% extends "network/layout.html" %} {% block body %}
 {%if user.is_authenticated%}


<h1>FOLLOWING</h1>

<div>
  {% for post in posts %}
  <div>
    <label for="post-content"> <a href="{% url 'profile' post.author.id %}">{{post.author}}</a> - {{post.timestamp}}</label>
    {%if user.is_authenticated%}
      {% if post.id in liked %}
        <button id="{{post.id}}" onclick="LikeBtnClicked({{post.id}})">Unike</button>
      {% else %}
        <button id="{{post.id}}" onclick="LikeBtnClicked({{post.id}})">Like</button>
      {% endif %}
    {%endif%}
    <span id="numbers_of_like_{{post.id}}">Likes: {{post.likes}}</span>
    <textarea
      name="post-content"
      style="background-color: lightgray"
      class="form-control"
      id="post-content-{{post.id}}"
      rows="3"
      readonly>{{post.content}}</textarea>
    {% if user.is_authenticated and user == post.author%}
    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary" data-toggle="modal" data-target="#edit_{{post.id}}">Edit</button>
    </div>
    

    <div class="modal fade" id="edit_{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="edit_{{post.id}}_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea row="5" id="edited_content_{{post.id}}" class="form-control">{{post.content}}</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="SaveNewContent({{post.id}})">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
  </div>
</div>

{% endfor %}
<nav
  aria-label="Page navigation example"
  class="d-flex justify-content-center mt-2"
>
  <ul class="pagination">
    {% if posts.has_previous%}
    <li class="page-item"><a class="page-link" href="?p={{posts.previous_page_number}}">Previous</a></li>
    {% endif %}
    {% if posts.has_next%}
    <li class="page-item"><a class="page-link" href="?p={{posts.next_page_number}}">Next</a></li>
    {% endif %}
  </ul>
</nav>

{% endif %}


<script>
    async function SaveNewContent(id) {
        new_content = document.querySelector(`#edited_content_${id}`).value
        response = await fetch(`/edit/${id}`, {
                                method: 'POST',
                                body: JSON.stringify({
                                    'new_content': new_content,
                                }),
                            })
        result = await response.json()
        const modal = document.querySelector(`#edit_${id}`)
        const content = document.querySelector(`#post-content-${id}`)
        content.innerHTML = result.content

    }

    async function LikeBtnClicked(post_id){
      get_like = await fetch('get-like')
      res = await get_like.json()
      liked = res['liked']
      console.log(liked)
      btn = document.getElementById(`${post_id}`)
      if(liked.includes(post_id)){
          var is_like = true
      } 
      else{
          var is_like = false
      }
      if(is_like === true){


        response = await fetch(`unlike/${post_id}`)
        result = await response.json()
        console.log("This is unlike")
        console.log(result)
        number_of_like_field = document.getElementById(`numbers_of_like_${post_id}`)
        number_of_like_field.innerHTML = `Likes: ${result.likes}`
        btn.innerHTML = 'Like'
      }
      else{
        response = await fetch(`like/${post_id}`)
        result = await response.json()
        console.log("This is like")
        console.log(result)
        number_of_like_field = document.getElementById(`numbers_of_like_${post_id}`)
        number_of_like_field.innerHTML = `Likes: ${result.likes}`
        btn.innerHTML = 'Unlike';
      }
      is_like = !is_like
    }
</script>


{% endblock %}
