{% extends "network/layout.html" %} {% block body %}

{%if user.is_authenticated and user.id == user_id%}
<h3>Create a new post</h3>
<form action="{% url 'add-post' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="post-content">Fill your post</label>
    <textarea
      name="post-content"
      style="background-color: lightgray"
      class="form-control"
      id="post-content"
      rows="3"
    ></textarea>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary">Post</button>
  </div>
</form>
{% endif %}

<h1>@{{username}}</h1>

<div>
  <h3>Followers: </h3>
  <h3>Following: </h3>
</div>

<div>
  {% for post in posts %}
  <div>
    <label for="post-content">{{post.author}} - {{post.timestamp}}</label>
    <textarea
      name="post-content"
      style="background-color: lightgray"
      class="form-control"
      id="post-content"
      rows="3"
      readonly
    >
{{post.content}}</textarea
    >
  </div>
</div>

{% endfor %}
<nav
  aria-label="Page navigation example"
  class="d-flex justify-content-center mt-2"
>
  <ul class="pagination">
    {% if posts.has_previous%}
    <li class="page-item">
      <a class="page-link" href="?p={{posts.previous_page_number}}">Previous</a>
    </li>
    {% endif %} {% if posts.has_next%}
    <li class="page-item">
      <a class="page-link" href="?p={{posts.next_page_number}}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
